.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {

        &__item {
            background-color: #13151d;
            margin-bottom: 16px;

            &__question {
                position: relative;
                color: #f9f9f9;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 12%;
                    right: 24px;
                    height: 100%;
                    font-size: 40px;
                }
            }
            
            &__answer {
                display: none;
                overflow: hidden;
                padding: 0 24px 24px;

                &__list-phrases {
                    list-style-position: inside;
                    padding-left: 40px;
                    margin-top: 16px;
                    
                    &__item {
                        list-style: disc;
                        margin: 16px 0;

                        &::marker {
                            font-size: 20px;
                        }
                    }
                }

                a {
                    color: #f9f9f9;
                }
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '_';
                    top: -11%;
                    right: 27px;
                    font-size: 41px;
                }
            }
        }
    }
}