.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    &--is-hidden {
        .header {
            &__logo, &__links__item:first-child {
                transition: opacity 1s ease;
                opacity: 0;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            padding: 0 12px 0 20px;
        }
    }

    h1 {
        display: flex;
        align-items: center;
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        transition: opacity 1s ease;

        @media screen and (max-width: 767px) {
            max-width: 64px;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity 1s ease;
        }
    }

    .button {
        height: 50px;

        @media screen and (max-width: 767px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}